<?xml version="1.0"?>
<!--
/**
 * @package     Dadolun_SibContactSync
 * @copyright   Copyright (c) 2023 Dadolun (https://www.dadolun.com)
 * @license     This code is licensed under MIT license (see LICENSE for details)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dadolun_SibContactSync" setup_version="1.0.9">
        <sequence>
            <module name="Magento_Newsletter" />
            <module name="Dadolun_SibCore" />
        </sequence>
    </module>
</config>
